body{
    background-color: rgb(209, 207, 207);
  }
  #main{
    background-color: white;
    border-top: 5px solid black;
    padding: 5%;
  }
  #t1img{
    display: flex;
    height: 300px;
    width: 300px;
    
    margin: 0;
  }
  #home{
    display: flex;
    flex-direction: column;
  }
  #homeCenter{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    
  }
  #email{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

  } 
  #info{
    flex-direction:column;
  }
  #reviews{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  #reviewCard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid black;
    width: fit-content;
    margin: 5px; 
    padding: 5px;
    width: 60%;
    height: 300px;
  }
  .cardData{
    font: 12px  ;
    margin: 0;
    height: fit-content;
    width: fit-content;
  }
  #generatedReviews{        
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px 0 10px ;
  }
  #inputTempReview{
    width: 1177;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
    border-top: 2px dashed black;
    width: 38em;
  }
  #Data{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  #inputName{
    background-color: rgb(177, 176, 176);
  }
  #inputDate{
    background-color: rgb(177, 176, 176);
  }
  #inputRating{
    background-color: rgb(177, 176, 176);
  }
  #inputText{
    background-color: rgb(177, 176, 176);
  }
  #cardName{
    margin: 0;
    
  }
  #cardImg{
    margin: 0;
    display: flex;
    border: 1px solid black;
    height: 150px;
    width: 150px;
  }
  #about{
    display: none;
    flex-direction: column;
  }